// .pin-image:hover{
// background-color: gray;
// width: 700px;
// border-radius: 20px;
// }
.feed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
   justify-content: space-evenly;
&__pin-image{
    border-radius: 20px;
}
&__pin-image:hover{
    cursor: zoom-in;
    
}
&__title{
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
text-align: left;
width: 250px;
font-size: 14px;
font-weight: 700;
}


&__name{
text-align: left;
line-break: strict;
font-size: 14px;
font-weight: 400;

}
&__heart{
    width:10px;
    height:10px;
    margin-right:5px;
}
&__likes{
    display:flex;
    align-content:stretch;
    align-items:baseline;
    justify-content: flex-start;

}

    
}