.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    &__home{
        background-color: black;
        color:white;
        padding: 10px;
        border-radius: 15px;
    }
    &__home:hover{
        color: black;
        background-color: white;
        cursor: pointer;
    }
    &__bell, &__chat, &__profile{
        width: 24px;
        height: 24px;
    }
    &__bell:hover{
        cursor: pointer;
        background-color: lightgray;
        padding: 10px;
        border-radius: 50px;
    }
    &__chat:hover{
        cursor: pointer;
        background-color: lightgray; 
        padding: 10px;
        border-radius: 50px;
    }
    &__profile:hover{
        cursor: pointer;
        background-color: lightgray;   
        padding: 10px;
        border-radius: 50px;
        

    }
    &__profile{
        border-radius: 20px;
    }
}

.logo{
    width: 48px;
    height: 48px;
}